div.itens-menu{
    margin-top: 30px;
}
div.itens-menu h2{
    text-align: left;

    font-weight: 400;
    font-size: 19px;

    padding: 5px;

    background-color: #373649;
    color: rgba(255, 255, 255, 0.87);
}
div.itens-menu a{
    display: block;

    font-weight: 300;
    font-size: 15px;

    padding: 5px;

    border-bottom: 2px solid  #373649;

    text-decoration: none;

    color: rgba(255, 255, 255, 0.87);
}
/*Conteúdo principal*/
section.content div.box-conteudo div.container-metricas{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
}
section.content div.box-conteudo h2{
    font-weight: normal;
}
section.content div.box-conteudo h2 svg{
    padding: 2px;
}
section.content div.box-conteudo div.container-metricas div.box-metrica{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 8px;
    color:  rgba(255, 255, 255, 0.87);
}
div.box-metrica:nth-of-type(1){
    background-color: rgb(238, 177, 63);
}
div.box-metrica:nth-of-type(2){
    background-color: rgb(228, 96, 49);
}
div.box-metrica:nth-of-type(3){
    background-color: #659B5E;
}
section.content div.box-conteudo div.container-metricas div.box-metrica h2{
    font-weight: normal;
}
/*Menu ativo*/
div.itens-menu a[ativo]{
    background-color: #3a385a;
}
div.itens-menu a[ativo]::before{
    content: '➡️ ';
}


@media (max-width: 768px){
    section.content div.box-conteudo div.container-metricas{
        flex-direction: column;
        gap: 10px;
    }
    section.content div.box-conteudo div.container-metricas div.box-metrica{
        width: 100%;
    }
}
@media (max-width: 320px){
    section.content div.box-conteudo div.container-metricas div.box-metrica h2{
        font-size: 15px;
    }
}