*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    background-color:  #DCD6F7;
}
/*Auxiliares*/
.centralizar{
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Header*/
header{
    background-color: #A6B1E1;
    width: 80%;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.logout a{
    color: white;
    font-size: 20px;
}
/*Aside*/
aside{
    overflow-y: auto;
    width: 20%;
    height: 100%;
    background-color:#4E4C67;
}